extends layout

block append content
  form.form-admin(action="/admin", method="post")
    for exercise in exercises
      if openExercises.indexOf(exercise) === -1
        input(type="checkbox", name="exercises", value="#{exercise}")
        span= exercise
      else
        input(type="checkbox", name="exercises", value="#{exercise}", checked)
        span= exercise

    input(type="submit", value="Submit")
