!!!
html
  head
    link(href="http://fonts.googleapis.com/css?family=Patrick+Hand+SC", rel="stylesheet", type="text/css")
    link(href="/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/css/style.css", rel="stylesheet", type="text/css")
  body
    header#main-header
      .gx-top-line
      .gx-nav
        .container
          h1.brand: a(href="/") Giterxise
    #main-content.container
        .tabbable.tabs-left
          ul.nav.nav-tabs
            each exerciseNumber in exerciseNumbers
                li: a(href="#tab#{exerciseNumber}", data-toggle="tab") Exercise #{exerciseNumber}
          .tab-content
            each exercise, id in exercises
                div.tab-pane(id="#{id}")
                    !{exercise}
        .misc
          span &copy; Welly
          span.pull-right powered by
            a(href="http://nodejs.org")  node.js

    script(src="//code.jquery.com/jquery-1.9.1.min.js", type="text/javascript")
    script(src="/js/bootstrap.min.js", type="text/javascript")

