!!!
html
  head
    title Giterxise - Your Git Exercises
    link(href="http://fonts.googleapis.com/css?family=Patrick+Hand+SC", rel="stylesheet", type="text/css")
    link(href="/css/bootstrap.min.css", rel="stylesheet", type="text/css")
    link(href="/css/style.css", rel="stylesheet", type="text/css")
  body
    header#main-header
      .gx-top-line
      .gx-nav
        .container
          h1.brand: a(href="/") Giterxise
    #main-content.container
      block content

    footer#main-footer.container
      .misc
        span &copy; Welly
        span.pull-right powered by
          a(href="http://nodejs.org")  node.js

    block scripts
      script(src="//code.jquery.com/jquery-1.9.1.min.js", type="text/javascript")
      script(src="/js/bootstrap.min.js", type="text/javascript")
