ol.steps
    li Anda akan memindahkan css kedalam file dengan nama style.css, lalu include kedalam html.
    li.commit Commit dengan pesan "Pindah css ke external file."
    li.code Karena anda ingin membuat catatan penting untuk apa yang akan anda lakukan berikutnya, anda membuat suatu file dengan nama TODO.txt dengan isi sebagai berikut:
        pre.
            - Mengubah design header
            - Menambahkan content
    li.commit Commit dengan pesan "Menambah TODO"
    li Kemudian anda ingat bahwa TODO.txt anda seharusnya tidak ada di repository karena itu adalah catatan pribadi anda. Hapuslah TODO.txt HANYA dari repository (file TODO.txt masih ada di folder anda)
    li.commit Commit dengan pesan "Menghapus TODO."
    li Pastikan bahwa TODO.txt tidak akan muncul pada saat anda melakukan command `git status`
