h3 Commit Pertama!!!

ol.steps
    li Anda akan membuat sebuah repository baru dengan nama giterxise
    li Kemudian buat file index.html dimana didalamnya akan ditambahkan halaman HTML sebagai berikut
        pre.htmlCode.
            <!DOCTYPE html>
            <html>
                <head>
                    <title>Giterxise - Your Git Exercise</title>
                    <link href="bootstrap.min.css" rel="stylesheet" type="text/css" />
                    <style>
                        body {
                          background-color: #F0EFED;
                        }

                        .gx-top-line {
                          height: 5px;
                          background-color: #000;
                        }

                        .gx-nav {
                          background-color: #FFF;
                        }

                        .brand {
                          font-size: 3em;
                        }

                        .brand a {
                          color: #E34949;
                          text-decoration: none;
                          font-family: cursive, sans-serif;
                        }
                    </style>
                </head>
                <body>
                    <header id="main-header">
                        <div class="gx-top-line"></div>
                        <div class="gx-nav">
                            <div class="container">
                                <h1 class="brand">
                                    <a href="/">Giterxise </a>
                                </h1>
                            </div>
                        </div>
                    </header>
                </body>
            </html>
        p.note bootstrap.min.css dapat didownload di <a href="http://giterxise.herokuapp.com/css/bootstrap.min.css">giterxise</a>
    li Bandingkan status sebelum dan sesudah commit
    li Buatlah commit dengan pesan "Membuat header."
