h3 Command Dasar Git

ol.steps
    li Anda akan memindahkan css kedalam file dengan nama style.css, lalu include kedalam html.
    li Commit dengan pesan "Pindah css ke external file."
    li Karena anda ingin membuat catatan penting untuk apa yang akan anda lakukan berikutnya, anda membuat suatu file dengan nama TODO.txt dengan isi sebagai berikut:
        pre.
            - Mengubah design header
            - Menambahkan content
    li Commit dengan pesan "Menambah TODO"
    li Kemudian anda ingat bahwa TODO.txt anda seharusnya tidak ada di repository karena itu adalah catatan pribadi anda. Hapuslah TODO.txt dari HANYA dari repository (file TODO.txt masih ada di folder anda) dan pastikan bahwa TODO.txt tidak akan muncul pada saat anda melakukan command `git status`
    li Commit dengan pesan "Menghapus TODO."
