h3 Show Your Code to The World

ol.steps
    li Anda melihat code anda sekali lagi dan berpikir "ah, mungkin code saya ini akan berguna untuk dunia." lalu anda memutuskan untuk mengopensourcekannya
    li Push code anda ke github
    li Voila! Anda baru saja membagikan code anda kedunia untuk pertama kalinya
